@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "chirp";
  src: url("../fonts/Chirp-Regular.80fda27a.woff2") format("woff2");
}

@font-face {
  font-family: 'chirp-bold';
  src: url("../fonts/Chirp-Bold.ebb56aba.woff2") format("woff2");
}

@font-face {
  font-family: 'chirp-heavy';
  src: url("../fonts/Chirp-Heavy.f44ae4ea.woff2") format("woff2");
}